.sec1{
	min-height: 300px;
	background-color: red;
	margin-bottom: 10px;
	border:5px solid black;
}
.sec2{
	min-height: 300px;
	background-color: blue;
	margin-bottom: 10px;
	border:5px solid black;
}
.sec3{
	min-height: 300px;
	background-color: green;
	margin-bottom: 10px;
	border:5px solid black;
}
.c_border{
	border-right: 3px solid #ddd;
}
.c_h1{
	color: red;
}
.c_margin{
	margin-bottom: 40px;
}
.h_margin{
	margin-bottom: 20px;
}